.mainStyle {
  text-align: center;
  /* background-color: rgb(180, 221, 248); */
}

.genreStyle {
  border: 3px solid black;
  margin: 5px;
  width: 500px;
  display: inline-block;
}

.componentStyle {
  text-align: start;
}